<% content_for :title, "Editing paper review" %>

<h1>Editing paper review</h1>

<%= render "form", paper_review: @paper_review %>

<br>

<div>
  <%= link_to "Show this paper review", @paper_review %> |
  <%= link_to "Back to paper reviews", paper_reviews_path %>
</div>
